body {
    background-color: burlywood;
}

h2 {
    color: brown
}

table {
    color: white;
    background-color: blueviolet;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 5px;
}